{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}

    <div class="container">
        <!-- Add a Cereal to the Database -->
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center" style="color:#FFF">
                    <strong>Add a Cereal to the Database</strong></h2>
                <hr>
            </div>
            <div style="color:#FFF" 
                 class="col-lg-9 col-lg-offset-1
                        col-md-9 col-md-offset-1 
                        col-sm-8 col-sm-offset-2
                        col-xs-12 col-sm-offset-0
                       "
            >
            <!-- forms.py CerealCreateForm -->
            <!-- views.py cereal_create -->
                {% crispy form_cereal_create_v %}
            </div>
        </div>
    </div>

{% endblock body %}

    <!--In the <label> tag the for= is used to tie the text next 
     to the input box and the input box together. The tie is
     accomplished by giving the for= in <label> and the name= in 
    <input> the exact same value. With the input box and input text
     tied together, you can click on either the box or the text and
     still register a "click"; this is rather useful with small radio
     boxes-you don't have to hit the small radio box but can click
     on the larger adjacent text. 

    The id= in <input> is used for identifying the element for CSS #

    Note, also, that the name= value is the same as the value in views.py; ie, in views.py we have: 
        ... request.POST.get('fat_f', None)
    Thus, in cereal_create.html we have:
        <label for="fat_f">Fat: </label>
        <input type="text" name="fat_f" id="fat_css">
        <br>

    http://stackoverflow.com/questions/18432376/what-does-for-attribute-do-in-label-tags !-->
